* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	color: #82d832;
	background-color: black;
	font-family: inconsolata;
}

/* Den blinkande cursorn i bannern*/
.blink {
	animation: blink-animation 1.2s steps(5, start) infinite;
}

@keyframes blink-animation {
	to {
		visibility: hidden;
	}
}

/* Stajla länkar */
a {
	text-decoration: none;
}

a:visited {
	color: #82d832;
}

a:hover {
	border: red solid 2px;
}

a:focus {
	border: yellow dashed 2px;
}

/* Centrera rubrikerna */
section>h1 {
	text-align: center;
}

article>h1 {
	text-align: center;
}

/* Header */
.banner {
	text-align: center;
	padding: 5rem;
}

/* Allmänna flödet på sidan */
.container {
	display: flex;
	flex-flow: row wrap;
}

/* flödet i navbaren */

.navbar {
	flex: 10%;
	padding: 20px;
}

.navbar > section{
	margin-bottom: 2rem;
}

li {
	margin-bottom: 5px;
	margin-left: 15px;
}

.about {
	font-size: large;
}

/* artikel flödet */
article {
	flex: 90%;
	padding: 20px;
	justify-content: space-around;
	height: calc(100vh - 18rem);
}

/* project layout */
.project_cards {
	display: flex;
	flex-flow: row wrap;
	/* align-content: space-between; */
	justify-content: space-around;
}

.card {
	display: flex;
	flex-flow: column nowrap;
	min-width: 300px;
	min-height: 300px;
	margin-bottom: 5px;
	justify-content: center;
	text-align: center;
}

/* Större text på "Om mig"-sidan */
.about_text {
	font-size: larger;
}

/* reflexiv design */
@media screen and (max-width: 700px) {
	.container {
		flex-direction: column;
	}
}

/* Footer staljing */
footer {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
}

.contact {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
}
